body
{
  background: url(1290929.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}
nav
{
  color: lightgray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 29px;
  text-shadow: 2px 2px darkred;
}
#yasuo
{
  width: 40%;
  float: right;
  border: darkslateblue;
  border-radius: 20px;
}