body
{
  background: url(1017921.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
nav
{
  color: gainsboro;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 29px;
  text-shadow: 2px 2px rgba(220, 20, 60, 0.699);
}
#pykeallo
{
  width: 40%;
  float: right;
  border: darkslateblue;
  border-radius: 20px;
  border-style: ridge;
  border-color: azure;
}
#container
{
  background-color: rgba(72, 108, 185, 0.315);
  border-width: 0.5em;
  border-style: ridge;
  border-radius: 30px;
  border-color: rgba(67, 103, 204, 0.808);
}
h1
{
  color: rgb(243, 221, 221);
}